---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - 38a92951891d4b3fc1d77954138022e491c8a97903856a7f8851820600ce444b
      Cb-Access-Timestamp:
      - '1521174892'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"42a397b11f4cfe2d1d6ad24232084f61"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30671c24-64b6-52af-a8c9-e0cdfdd63313","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.01605417","currency":"BTC"},"created_at":"2017-12-27T06:38:59Z","updated_at":"2018-02-17T20:20:41Z","resource":"account","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313","native_balance":{"amount":"129.98","currency":"USD"}}}'
  recorded_at: Fri, 16 Mar 2018 04:34:52 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - e73b62175f2fd35d881e374632e2a93b6aab355b8dbe259888c9b9ec97ff5b24
      Cb-Access-Timestamp:
      - '1521174892'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      messag[...]
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - 991cb5ebcfd981b4e14b6a97e16ebd489701dd414a9b543455821d528bd47e70
      Cb-Access-Timestamp:
      - '1521174893'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"420c165381e099490551d6c36197cc7b"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":null,"limit":25,"order":"desc","previous_uri":null,"next_uri":null},"data":[{"id":"60e0be87-50aa-591d-b344-d9e8f4b54bd4","type":"buy","status":"completed","amount":{"amount":"0.01605411","currency":"BTC"},"native_amount":{"amount":"175.87","currency":"USD"},"description":null,"created_at":"2018-02-17T20:20:40Z","updated_at":"2018-02-17T20:20:41Z","resource":"transaction","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/transactions/60e0be87-50aa-591d-b344-d9e8f4b54bd4","instant_exchange":false,"buy":{"id":"2a9577c7-0614-5dea-85ac-1fec62e6095e","resource":"buy","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/buys/2a9577c7-0614-5dea-85ac-1fec62e6095e"},"details":{"title":"Bought
        Bitcoin","subtitle":"Using USD Wallet","payment_method_name":"USD Wallet"}},{"id":"08d3360d-2e9c-5ed3-930a-2cd622a7659f","type":"sell","status":"completed","amount":{"amount":"-0.01677570","currency":"BTC"},"native_amount":{"amount":"-175.86","currency":"USD"},"description":null,"created_at":"2018-02-17T20:18:03Z","updated_at":"2018-02-17T20:18:03Z","resource":"transaction","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/transactions/08d3360d-2e9c-5ed3-930a-2cd622a7659f","instant_exchange":false,"sell":{"id":"484bcbe0-9f7d-5d25-aa06-33d3823399b1","resource":"sell","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/sells/484bcbe0-9f7d-5d25-aa06-33d3823399b1"},"details":{"title":"Sold
        Bitcoin","subtitle":"Using USD Wallet","payment_method_name":"USD Wallet"}},{"id":"6c4cf64c-1ee7-5b82-bcea-9df9d26af4f4","type":"buy","status":"completed","amount":{"amount":"0.00729108","currency":"BTC"},"native_amount":{"amount":"50.00","currency":"USD"},"description":null,"created_at":"20[...]
