---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - d3f8a4d8d876bf3c1675eafc20f0215585970b8eba0cfec557809ac7750c8b79
      Cb-Access-Timestamp:
      - '1521174649'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"42a397b11f4cfe2d1d6ad24232084f61"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30671c24-64b6-52af-a8c9-e0cdfdd63313","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.01605417","currency":"BTC"},"created_at":"2017-12-27T06:38:59Z","updated_at":"2018-02-17T20:20:41Z","resource":"account","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313","native_balance":{"amount":"129.98","currency":"USD"}}}'
  recorded_at: Fri, 16 Mar 2018 04:30:50 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - 39c5d4ab67f17c71f99c655fa41d71b2b2a229a26d5227a091ff8c1614c68e19
      Cb-Access-Timestamp:
      - '1521174650'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      messag[...]
