---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - 4e2ca35d70706d0a5edad7a054070474300f87dfd34a3d475d83afc64ec71c08
      Cb-Access-Timestamp:
      - '1521654766'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"2f9c34b2c71bcc368462c10180eec158"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30671c24-64b6-52af-a8c9-e0cdfdd63313","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.01605417","currency":"BTC"},"created_at":"2017-12-27T06:38:59Z","updated_at":"2018-02-17T20:20:41Z","resource":"account","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313","native_balance":{"amount":"141.60","currency":"USD"}}}'
  recorded_at: Wed, 21 Mar 2018 17:52:46 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - 03a966fe0650c8d665dcd825d56b634b94a0dbf6559c0d195d5ecd652bf8b9e7
      Cb-Access-Timestamp:
      - '1521654766'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      messag[...]
