---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/BTC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - e93ce8086535e74530cc4542ce4de2ed8fc91d340f1fa525d931b9242dbea6da
      Cb-Access-Timestamp:
      - '1521760697'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"baeece416300e7e96a527d3aaf96f774"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30671c24-64b6-52af-a8c9-e0cdfdd63313","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.01605417","currency":"BTC"},"created_at":"2017-12-27T06:38:59Z","updated_at":"2018-02-17T20:20:41Z","resource":"account","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313","native_balance":{"amount":"11.00","currency":"USD"}}}'
  recorded_at: Thu, 22 Mar 2018 23:18:18 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - 4c5a3a7809fc755a79c88cc1827230514d559477f395f2d0b264976418d114b3
      Cb-Access-Timestamp:
      - '1521760698'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"baeece416300e7e96a527d3aaf96f774"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30671c24-64b6-52af-a8c9-e0cdfdd63313","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.01605417","currency":"BTC"},"created_at":"2017-12-27T06:38:59Z","updated_at":"2018-02-17T20:20:41Z","resource":"account","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313","native_balance":{"amount":"11.00","currency":"USD"}}}'
  recorded_at: Thu, 22 Mar 2018 23:18:18 GMT
[...]
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/transactions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - 6bhS6QL0asEh4XAZ
      Cb-Access-Sign:
      - 282b5a1f8a639ef2abc360618f234c46de1d3850c3a8145d3396bd4c1e865955
      Cb-Access-Timestamp:
      - '1521760698'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"420c165381e099490551d6c36197cc7b"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        report-uri="https://coinbase.report-uri.io/r/default/hpkp/enforce"
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":null,"limit":25,"order":"desc","previous_uri":null,"next_uri":null},"data":[{"id":"0c5025a6-9a70-575d-a0af-c6d08e34d3a4","type":"buy","status":"completed","amount":{"amount":"0.00153216","currency":"BTC"},"native_amount":{"amount":"1.00","currency":"USD"},"description":null,"created_at":"2018-01-10T06:33:16Z","updated_at":"2018-01-10T06:33:18Z","resource":"transaction","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/transactions/0c5025a6-9a70-575d-a0af-c6d08e34d3a4","instant_exchange":false,"buy":{"id":"e7e940cc-ab13-5f0a-8604-f589471257a7","resource":"buy","resource_path":"/v2/accounts/30671c24-64b6-52af-a8c9-e0cdfdd63313/buys/e7e940cc-ab13-5f0a-8604-f589471257a7"},"details":{"title":"Bought
        Bitcoin","subtitle":"Using Visa debit ********9866","payment_method_name":"Visa
        debit ********9866"}}]}'
  recorded_at: Thu, 22 Mar 2018 23:18:19 GMT
recorded_with: VCR 4.0.0
